<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>832</integer>
	<key>capHeight</key>
	<integer>768</integer>
	<key>copyright</key>
	<string>Copyright 2026 The Bold Serif Project Authors (https://github.com/example/bold-serif)</string>
	<key>descender</key>
	<integer>-256</integer>
	<key>familyName</key>
	<string>Bold Serif</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
	</array>
	<key>openTypeHheaAscender</key>
	<integer>1024</integer>
	<key>openTypeHheaDescender</key>
	<integer>-256</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Unknown</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://openfontlicense.org</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>1024</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-256</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>NONE</string>
	<key>openTypeOS2WinAscent</key>
	<integer>1024</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>384</integer>
	<key>postscriptFontName</key>
	<string>BoldSerif-Regular</string>
	<key>postscriptFullName</key>
	<string>Bold Serif Regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>576</integer>
</dict>
</plist>